<div class="advancedrpc">
  <Transition name="arpc-modal">
    <arpc-changelog
      v-if="modal === 'changelog'"
      @close-changelog="setModal('')"
    />

    <arpc-variables-modal
      v-if="modal === 'variables'"
      @close-variables="setModal('')"
    />

    <arpc-confirm-modal
      v-if="modal === 'reset-settings'"
      title="Reset Settings"
      description="This will reset your AdvancedRPC configuration to default. Are you sure you want to continue?"
      @confirm="resetSettings()"
      @close-modal="setModal('')"
    />

    <arpc-custom-modal
      v-if="modal?.startsWith('custom-')"
      :modal="modal"
      :modalData="remoteData?.modals?.find((m) => m.id === modal)"
      @do-action="doAction"
    />

    <arpc-artwork-request
      v-if="modal === 'artwork-request'"
      @close-modal="setModal('')"
    />
  </Transition>

  <Transition name="arpc-fade">
    <div class="arpc-modal-backdrop" v-if="modal"></div
  ></Transition>

  <div class="arpc-page">
    <Transition name="arpc-slide">
      <div class="arpc-unapplied-settings-alert" v-show="unappliedSettings">
        <div
          @click="clickingEe('unappliedTextEe')"
          class="arpc-unapplied-settings-content"
          :style="settingsStyle"
        >
          <div>Apply your changes to update your Discord presence.</div>
          <div class="arpc-unapplied-settings-options">
            <button
              class="arpc-button arpc-button-underline"
              @click="resetChanges()"
            >
              Reset
            </button>
            <button
              class="arpc-button arpc-button-green"
              @click="updateSettings()"
            >
              Apply Changes
            </button>
          </div>
        </div>
      </div></Transition
    >

    <div class="arpc-settings" :style="settingsStyle">
      <arpc-sidebar
        :installedVersion="installedVersion"
        :versionData="versionData"
        :versionInfo="versionInfo"
        :remoteData="remoteData"
        :frontend="frontend"
        @do-action="doAction"
        @click-ee="clickingEe"
        :style="sidebarScaleStyle"
      ></arpc-sidebar>

      <div class="arpc-content">
        <!-- <Transition name="arpc-settings-slide">
          <div
            class="arpc-bubbles-bar arpc-expandable"
            @click="toggleBubbles()"
            v-if="bubbles.length > 0 || ($root.cfg.general.privateEnabled && settings.respectPrivateSession) || app.cfg.connectivity.discord_rpc.enabled"
          >
            <div
              class="arpc-bubbles-count"
              :style="{'opacity': frontend.bubblesExpanded ? 0 : 1}"
            >
              <div v-if="bubbles.length === 1">{{ bubbles.length }} notice</div>
              <div v-else>{{ bubbles.length }} notices</div>
            </div>
            <arpc-expand-button
              :expanded="frontend.bubblesExpanded"
            ></arpc-expand-button></div
        ></Transition> -->

        <Transition name="arpc-settings-slide">
          <arpc-bubble
            v-if="$root.cfg.general.privateEnabled && settings.respectPrivateSession"
            v-bind="privateSessionBubble"
          ></arpc-bubble>
        </Transition>

        <Transition name="arpc-settings-slide">
          <arpc-bubble
            v-if="app.cfg.connectivity.discord_rpc.enabled"
            v-bind="ciderRpcBubble"
          ></arpc-bubble
        ></Transition>

        <Transition name="arpc-settings-slide">
          <arpc-bubble
            v-if="!remoteData"
            v-bind="noConnectionBubble"
          ></arpc-bubble
        ></Transition>

        <arpc-bubble
          v-for="bubble in remoteData?.bubbles"
          v-if="bubble?.enabled"
          v-bind="bubble"
          @do-action="doAction"
        ></arpc-bubble>

        <!-- General -->
        <arpc-general
          v-show="frontend.sidebar === 'general'"
          :data="[settings.play, settings.pause, settings.enabled, frontend.pageStates.general, remoteData?.flags]"
          @update="receiveSettings"
          @click-ee="clickingEe"
          @do-action="doAction"
        />

        <!-- Podcasts -->
        <arpc-podcasts
          v-show="frontend.sidebar === 'podcasts'"
          :data="[settings.podcasts, settings.enabled, frontend.pageStates.podcasts, remoteData?.flags]"
          @update="receiveSettings"
          @click-ee="clickingEe"
          @do-action="doAction"
        />

        <!-- Videos -->
        <arpc-videos
          v-show="frontend.sidebar === 'videos'"
          :data="[settings.videos, settings.enabled, frontend.pageStates.videos, remoteData?.flags]"
          @update="receiveSettings"
          @click-ee="clickingEe"
          @do-action="doAction"
        />

        <!-- Radio -->
        <arpc-radio
          v-show="frontend.sidebar === 'radio'"
          :data="[settings.radio, settings.enabled, remoteData?.flags]"
          @update="receiveSettings"
          @click-ee="clickingEe"
          @do-action="doAction"
        />

        <!-- Settings -->
        <div v-show="frontend.sidebar === 'settings'">
          <div class="arpc-settings-header">
            <h2 @click="clickingEe('settingsClickEe')">Settings</h2>
            <arpc-exit-button
              v-if="remoteData?.flags?.exitButton"
            ></arpc-exit-button>
          </div>

          <div class="arpc-option-container">
            <div :disabled="app.cfg.connectivity.discord_rpc.enabled">
              <div class="arpc-option">
                <div class="arpc-option-segment">Enable AdvancedRPC</div>
                <div class="arpc-option-segment arpc-option-segment_auto">
                  <label>
                    <input
                      @click="clickingEe('enableArpcSwitchEe')"
                      type="checkbox"
                      v-model="settings.enabled"
                      switch
                    />
                  </label>
                </div>
              </div>
            </div>

            <div class="arpc-label">PRESENCE</div>

            <div class="arpc-option">
              <div class="arpc-option-segment">
                Application ID
                <small
                  >Create your own on
                  <a
                    href="https://discord.com/developers/applications"
                    target="_blank"
                    >Discord Developer Portal</a
                  >.<br />Restart to apply.
                </small>
              </div>
              <div class="arpc-option-segment arpc-option-segment_auto">
                <label>
                  <input type="text" v-model="settings.appId" />
                </label>
              </div>
            </div>

            <div class="arpc-option">
              <div class="arpc-option-segment">
                Respect Private Session
                <small
                  >Hides your presence while Private Session is enabled.</small
                >
              </div>
              <div class="arpc-option-segment arpc-option-segment_auto">
                <label>
                  <input
                    type="checkbox"
                    v-model="settings.respectPrivateSession"
                    switch
                  />
                </label>
              </div>
            </div>

            <div
              v-if="remoteData?.icloudArtworks?.setting"
              :disabled="remoteData?.icloudArtworks?.settingDisabled"
              class="arpc-option"
            >
              <div class="arpc-option-segment">
                <div class="arpc-option-with-badge">
                  <div v-if="remoteData?.icloudArtworks?.settingTitle">
                    {{ remoteData?.icloudArtworks?.settingTitle }}
                  </div>
                  <div v-else>iCloud Music Artworks</div>
                  <div
                    v-if="remoteData?.badges?.icloud?.text"
                    :style="{background: remoteData?.badges?.icloud?.color, color: remoteData?.badges?.icloud?.textColor}"
                    class="arpc-badge"
                  >
                    {{ remoteData?.badges?.icloud?.text }}
                  </div>
                </div>
                <small v-if="remoteData?.icloudArtworks?.settingDesc">
                  {{ remoteData?.icloudArtworks?.settingDesc }}
                </small>
                <small v-else
                  >Show the artworks of the songs uploaded to your iCloud Music
                  Library.</small
                >
              </div>
              <div class="arpc-option-segment arpc-option-segment_auto">
                <label>
                  <input
                    v-if="remoteData?.icloudArtworks?.settingDisabled && remoteData?.icloudArtworks?.forceOn"
                    type="checkbox"
                    checked
                    switch
                  />
                  <input
                    v-else-if="remoteData?.icloudArtworks?.settingDisabled"
                    type="checkbox"
                    switch
                  />
                  <input
                    v-else
                    type="checkbox"
                    v-model="settings.icloudArtworks"
                    switch
                  />
                </label>
              </div>
            </div>

            <div class="arpc-option">
              <div class="arpc-option-segment">
                Auto Clear Paused Presence
                <small
                  >Clears your presence after the specified amount of seconds
                  has passed while paused.<br />Set to 0 to disable.
                </small>
              </div>
              <div class="arpc-option-segment arpc-option-segment_auto">
                <label>
                  <input
                    type="number"
                    v-model="settings.removePause"
                    placeholder="0"
                    min="0"
                  />
                </label>
              </div>
            </div>

            <div class="arpc-option">
              <div class="arpc-option-segment">
                Fallback Image
                <small
                  >Set a custom image to be shown when the artwork doesn't exist
                  or hasn't loaded yet.<br />Max 256 characters</small
                >
              </div>
              <!-- <div
                class="arpc-option-segment arpc-option-segment_auto arpc-multiple-items"
              > -->
              <div class="arpc-option-segment arpc-option-segment_auto">
                <!-- <label>Play</label> -->
                <input type="text" v-model="settings.play.fallbackImage" />
              </div>
              <!-- <div
                class="arpc-option-segment arpc-option-segment_auto arpc-multiple-items"
              >
                <label>Pause</label>
                <input type="text" v-model="settings.pause.fallbackImage" />
              </div> -->
            </div>

            <div class="arpc-option">
              <div class="arpc-option-segment">
                Artwork Image Size
                <small
                  >Changes the width and height of the artwork when used in the
                  presence. Larger values might cause the artwork to take longer
                  to load for others. Does not apply for animated
                  artwork.</small
                >
              </div>
              <div class="arpc-option-segment arpc-option-segment_auto">
                <label>
                  <input
                    type="number"
                    v-model="settings.imageSize"
                    placeholder="1024"
                    min="1"
                  />
                </label>
              </div>
            </div>

            <div class="arpc-option">
              <div class="arpc-option-segment">
                Remove Invalid Buttons
                <small
                  >Removes potentially invalid buttons, such as Apple Music
                  buttons for iCloud songs or song.link buttons for
                  podcasts.</small
                >
              </div>
              <div class="arpc-option-segment arpc-option-segment_auto">
                <label>
                  <input
                    type="checkbox"
                    v-model="settings.removeInvalidButtons"
                    switch
                  />
                </label>
              </div>
            </div>

            <div class="arpc-label">ADVANCEDRPC</div>

            <div class="arpc-option" v-if="remoteData?.flags?.autoUpdateOption">
              <div class="arpc-option-segment">
                Auto Update
                <small
                  >Automatically update AdvancedRPC when a new version is
                  available.</small
                >
              </div>
              <div class="arpc-option-segment arpc-option-segment_auto">
                <label>
                  <input type="checkbox" v-model="frontend.autoUpdate" switch />
                </label>
              </div>
            </div>

            <div v-if="themes && themes.length > 0" class="arpc-option">
              <div
                class="arpc-option-segment"
                :class="{ 'arpc-rumble' : remoteData?.themeClickEe?.id && !frontend[remoteData?.themeClickEe?.id + 'Theme'] }"
                @click="clickingEe('themeClickEe')"
              >
                <div class="arpc-option-with-badge">
                  Theme
                  <div
                    v-if="remoteData?.badges?.themes?.text"
                    :style="{background: remoteData?.badges?.themes?.color, color: remoteData?.badges?.themes?.textColor}"
                    class="arpc-badge"
                  >
                    {{ remoteData?.badges?.themes?.text }}
                  </div>
                </div>
                <small
                  v-if="themes.find(t => t.id === frontend.theme)?.description"
                >
                  {{ themes.find(t => t.id === frontend.theme).description }}
                </small>
              </div>

              <div class="arpc-option-segment arpc-option-segment_auto">
                <label>
                  <select
                    v-if="remoteData?.flags?.categorizedThemes"
                    class="arpc-select"
                    v-model="frontend.theme"
                  >
                    <option value="" disabled hidden>Select Theme</option>
                    <optgroup
                      v-for="(themes, key) in filteredCategorizedThemes"
                      :label="key"
                      v-if="themes.length > 0"
                    >
                      <option v-for="theme in themes" :value="theme.id">
                        {{ theme.name }}
                      </option>
                    </optgroup>
                  </select>

                  <select v-else class="arpc-select" v-model="frontend.theme">
                    <option value="" disabled hidden>Select Theme</option>
                    <option v-for="theme in themes" :value="theme.id">
                      {{ theme.name }}
                    </option>
                  </select>
                </label>
              </div>
            </div>

            <div v-if="remoteData?.flags?.scaleSetting" class="arpc-option">
              <div class="arpc-option-segment">Scale</div>
              <div class="arpc-option-segment arpc-option-segment_auto">
                <label>
                  <select class="arpc-select" v-model="frontend.scale">
                    <option value="" disabled hidden>Scale</option>
                    <option value="75">75%</option>
                    <option value="80">80%</option>
                    <option value="85">85%</option>
                    <option value="90">90%</option>
                    <option value="95">95%</option>
                    <option value="100">100%</option>
                    <option value="105">105%</option>
                    <option value="110">110%</option>
                    <option value="115">115%</option>
                    <option value="120">120%</option>
                    <option value="125">125%</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="arpc-option">
              <div class="arpc-option-segment">
                Reset Configuration to Default
              </div>
              <div class="arpc-option-segment arpc-option-segment_auto">
                <button
                  class="arpc-button arpc-button-red"
                  @click="setModal('reset-settings')"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- About -->
        <div v-show="frontend.sidebar === 'about'">
          <h2>About</h2>
        </div>
      </div>
    </div>
  </div>
</div>
