[arpc-theme="dark"] {
  --arpc-background: #313338;
  --arpc-secondary: #2b2d31;
  --arpc-text-primary: #fff;
  --arpc-text-secondary: #b8b9bf;
  --arpc-dark: #1e1f22;
  --arpc-text-input: #e0e1e5;
  --arpc-divider: #3f4147;
  --arpc-link: #00aafc;
  --arpc-header: #fff;
  --arpc-footer-text: #b8b9bf;
  --arpc-bubble-text: #e0e1e5;

  --arpc-modal-header: #fff;
  --arpc-modal-subtitle: #b8b9bf;
  --arpc-modal-background: #313338;
  --arpc-modal-secondary: #2b2d31;
  --arpc-modal-text: #e0e1e5;
  --arpc-modal-footer-text: #e0e1e5;
  --arpc-changelog: #c7c8ce;
  --arpc-changelog-divider: #2dc771;
  --arpc-modal-variable: #1e1f22;
  --arpc-modal-backdrop: #000000d9;

  --arpc-sidebar-item-text: #b8b9bf;
  --arpc-sidebar-item-hover: #35373c;
  --arpc-sidebar-item-hover-text: #e0e1e5;
  --arpc-sidebar-item-active: #3b3d44;
  --arpc-sidebar-selected: #404249;
  --arpc-sidebar-selected-text: #fff;
  --arpc-sidebar-separator: #3b3d44;
  --arpc-sidebar-eyebrow: #989aa2;

  --arpc-sidebar-blue: #5865f2;
  --arpc-sidebar-blue-text: #fff;
  --arpc-sidebar-blue-hover: #4752c4;
  --arpc-sidebar-blue-hover-text: #fff;
  --arpc-sidebar-blue-active: #3c45a5;
  --arpc-sidebar-blue-active-text: #fff;

  --arpc-switch-unchecked: #82858f;
  --arpc-switch-unchecked-active: #678f7f;
  --arpc-switch-checked: #23a55a;
  --arpc-switch-checked-active: #409b6a;
  --arpc-switch-handle-unchecked: #fff;
  --arpc-switch-handle-checked: #fff;

  --arpc-button-underline: #e0e1e5;
  --arpc-button-blue: #5865f2;
  --arpc-button-blue-text: #fff;
  --arpc-button-blue-hover: #4752c4;
  --arpc-button-blue-hover-text: #fff;
  --arpc-button-blue-active: #3c45a5;
  --arpc-button-blue-active-text: #fff;

  --arpc-button-green: #2d7d46;
  --arpc-button-green-text: #fff;
  --arpc-button-green-hover: #215b32;
  --arpc-button-green-hover-text: #fff;
  --arpc-button-green-active: #1e532e;
  --arpc-button-green-active-text: #fff;

  --arpc-button-red: #d83c3e;
  --arpc-button-red-text: #fff;
  --arpc-button-red-hover: #a12d2f;
  --arpc-button-red-hover-text: #fff;
  --arpc-button-red-active: #8c2729;
  --arpc-button-red-active-text: #fff;
}

[arpc-theme="light"] {
  --arpc-background: #fff;
  --arpc-secondary: #f2f3f5;
  --arpc-text-primary: #060607;
  --arpc-text-secondary: #4f5660;
  --arpc-dark: #e3e5e8;
  --arpc-text-input: #2e3338;
  --arpc-divider: #dbdee1;
  --arpc-link: #0068e0;
  --arpc-header: #060607;
  --arpc-footer-text: #4f5660;
  --arpc-bubble-text: #2e3338;

  --arpc-modal-header: #060607;
  --arpc-modal-subtitle: #4f5660;
  --arpc-modal-background: #fff;
  --arpc-modal-secondary: #f2f3f5;
  --arpc-modal-text: #2e3338;
  --arpc-modal-footer-text: #2e3338;
  --arpc-changelog: #72767d;
  --arpc-changelog-divider: #2d7d46;
  --arpc-modal-variable: #e3e5e8;

  --arpc-sidebar-item-text: #4f5660;
  --arpc-sidebar-item-hover: #dcdfe2;
  --arpc-sidebar-item-hover-text: #2e3338;
  --arpc-sidebar-item-active: #d7d9de;
  --arpc-sidebar-selected: #d1d5d9;
  --arpc-sidebar-selected-text: #060607;
  --arpc-sidebar-separator: #d1d5d9;
  --arpc-sidebar-eyebrow: #5e6772;
}

[arpc-theme="black"] {
  --arpc-background: #040405;
  --arpc-secondary: #111315;
  --arpc-text-primary: #fff;
  --arpc-text-secondary: #b9bbbe;
  --arpc-dark: #202225;
  --arpc-text-input: #dcddde;
  --arpc-divider: #212327;
  --arpc-link: #00aff4;
  --arpc-footer-text: #b9bbbe;
  --arpc-bubble-text: #dcddde;

  --arpc-sidebar-item-text: #b9bbbe;
  --arpc-sidebar-item-hover: #24262b;
  --arpc-sidebar-item-hover-text: #dcddde;
  --arpc-sidebar-item-active: #282b2f;
  --arpc-sidebar-selected: #2d3135;
  --arpc-sidebar-separator: #282b2f;
}

[arpc-theme="purple"] {
  --arpc-background: #33004d;
  --arpc-secondary: #3f005f;
  --arpc-text-primary: #fff;
  --arpc-text-secondary: #ffffffc2;
  --arpc-dark: #200030;
  --arpc-text-input: #ffffff;
  --arpc-divider: #53007e;
  --arpc-footer-text: #ffffffc2;
  --arpc-bubble-text: #ffffff;

  --arpc-sidebar-item-text: #ecc6ff;
  --arpc-sidebar-item-hover: #8700cc;
  --arpc-sidebar-item-hover-text: #ffffff;
  --arpc-sidebar-item-active: #7f00c0;
  --arpc-sidebar-selected: #7400af;
  --arpc-sidebar-selected-text: #fff;
  --arpc-sidebar-separator: #620193;
  --arpc-modal-variable: #200030;

  --arpc-modal-header: #fff;
  --arpc-modal-subtitle: #ffffffc2;
  --arpc-modal-background: #33004d;
  --arpc-modal-secondary: #3f005f;
  --arpc-modal-text: #ffffffc2;
  --arpc-modal-footer-text: #ffffffc2;
  --arpc-changelog: #ffffffc2;
  --arpc-changelog-divider: #d176ff;
}

[arpc-theme="redblue"] {
  --arpc-background: #1d2537;
  --arpc-secondary: #431717;
  --arpc-text-primary: #fff;
  --arpc-text-secondary: #ffffffb0;
  --arpc-dark: #171d2d;
  --arpc-text-input: #ffffffd6;
  --arpc-divider: #1d2537;
  --arpc-footer-text: #ffffffb0;
  --arpc-bubble-text: #ffffffd6;

  --arpc-sidebar-item-text: #ffffffb0;
  --arpc-sidebar-item-hover: #391414;
  --arpc-sidebar-item-hover-text: #ffffffd4;
  --arpc-sidebar-item-active: #321111;
  --arpc-sidebar-selected: #371313;
  --arpc-sidebar-separator: #321111;
}
