@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/whitney-300.woff2") format("woff2"),
    url("./fonts/whitney-300.woff") format("woff");
}
@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/whitney-400.woff2") format("woff2"),
    url("./fonts/whitney-400.woff") format("woff");
}
@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/whitney-500.woff2") format("woff2"),
    url("./fonts/whitney-500.woff") format("woff");
}
@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/whitney-600.woff2") format("woff2"),
    url("./fonts/whitney-600.woff") format("woff");
}
@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/whitney-700.woff2") format("woff2"),
    url("./fonts/whitney-700.woff") format("woff");
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/ggsans-normal.ttf") format("opentype");
}
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/ggsans-medium.ttf") format("opentype");
}
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/ggsans-semibold.ttf") format("opentype");
}
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/ggsans-bold.ttf") format("opentype");
}

.advancedrpc {
  * {
    font-family: "gg sans", "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }

  a {
    color: #00aff4;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  input[type="checkbox"][switch],
  input[type="checkbox"][switch]:not(:checked) {
    width: 40px;
    height: 24px;
    border-radius: 14px;
    background: #72767d;
    display: block;
  }

  input[type="checkbox"][switch]:active {
    background: #61808a;
  }

  input[type="checkbox"][switch]:checked {
    background: #3ba55d;
  }

  input[type="checkbox"][switch]:checked:active {
    background: #4b9a83;
  }

  input[type="checkbox"][switch]::before,
  input[type="checkbox"][switch]:checked::before {
    top: 0px !important;
    background: #fff;
    width: 25px;
    height: 25px;
  }

  input[type="checkbox"][switch]::before {
    left: 1px;
  }

  input[type="checkbox"][switch]:checked::before {
    left: 14px;
    background: #fff;
  }

  input[type="text"],
  input[type="number"],
  input[type="text"]:active,
  input[type="number"]:active,
  input[type="text"]:focus,
  input[type="number"]:focus {
    padding: 10px;
    width: 240px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 3px !important;
    color: #dcddde;
    background: initial !important;
    background-color: #202225 !important;
    box-shadow: none !important;
    border: none !important;
    transition: border-color 0.2s ease-in-out;
  }
}

.arpc-page {
  background-color: #36393f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: zoom 1s;
  zoom: 1;
  text-rendering: optimizeLegibility;

  * {
    transition: opacity 0.2s ease-in-out;

    :focus-visible {
      outline: initial;
    }
  }

  h1,
  h2,
  h3 {
    color: #fff;
  }

  h1 {
    font-size: 35px;
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 20px;
  }
}

.arpc-settings {
  margin-top: var(--chromeHeight1);
  margin-bottom: calc(var(--chromeHeight2) + 40px);
  padding: 32px;
  padding-bottom: 20px;
  padding-left: 0;
  min-height: 100vh;

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a3a6aa;
    font-size: 12px;
    font-weight: 400;
    margin-top: 80px;
  }
}

.arpc-sidebar {
  height: calc(100% - var(--chromeHeight2));
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #2f3136;
  overflow-x: hidden;
  padding-top: calc(var(--chromeHeight1) + 15px);
  padding-left: 4px;
  padding-right: 5px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .arpc-option {
    margin-left: 5px;
    padding-bottom: 30px;
    padding-top: 20px;
  }

  .arpc-option-segment.arpc-option-segment_auto {
    width: 60px;
  }

  .arpc-sidebar-item {
    color: #b9bbbe;
    padding: 6px 10px;
    margin-bottom: 2px;
    border-radius: 4px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    font-weight: 500;
  }

  .arpc-sidebar-item:hover {
    background-color: #3c3f45;
    color: #dcddde;
  }

  .arpc-sidebar-item:active {
    background-color: #3f4248;
    color: #fff;
  }

  .arpc-sidebar-selected {
    background-color: #42464d;
    color: #fff;
    cursor: default;
  }

  .arpc-sidebar-selected:hover {
    background-color: #3c3f45;
    color: #fff;
  }

  .arpc-sidebar-selected:active {
    background-color: #3f4248;
    color: #fff;
  }

  .arpc-sidebar-blue {
    background-color: #5865f2;
    color: #fff;
    display: flex;
    justify-content: space-between;

    path {
      background-color: currentColor;
    }
  }

  .arpc-sidebar-blue:hover {
    background-color: #4752c4;
    color: #fff;
  }

  .arpc-sidebar-blue:active {
    background-color: #3c45a5;
    color: #fff;
  }

  footer {
    margin-left: 5px;
    margin-top: 10px;
    opacity: 15%;
  }
}

.arpc-content {
  margin-left: 252px;
}

.arpc-unapplied-settings-alert {
  position: sticky;
  top: var(--chromeHeight1);
  height: 0;
  overflow: visible;
  z-index: 1;
}

.arpc-unapplied-settings-content {
  background-color: #202225;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-left: 220px;
  position: relative;
  top: -100%;

  a {
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
  }
}

.arpc-unapplied-settings-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arpc-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;

  img {
    margin-right: 5px;
  }

  h1 {
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
  }
}

#arpc-update-option {
  background-color: #202225;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  border-bottom: none;
  flex-direction: column;

  .arpc-button {
    margin-top: 15px;
  }

  .arpc-update-icon {
    position: relative;
    svg {
      position: absolute;
      right: 0px;
      width: 25px;
      height: 25px;
    }
  }
}

.arpc-option {
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  word-wrap: break-word;
  display: flex;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;

  small {
    margin-top: 8px;
    margin-right: 30px;
    color: #b9bbbe;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    b {
      font-weight: 600;
    }
  }
}

.arpc-option-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  h2,
  h3 {
    margin: 0;
  }
}

.arpc-option-container {
  overflow: hidden;

  .arpc-option {
    border-bottom: 1px solid rgba(79, 84, 92, 0.48);
  }
}

.arpc-option-segment {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.arpc-option-segment.arpc-option-segment_auto {
  width: auto;
  white-space: nowrap;
}

.arpc-multiple-items {
  margin-left: 30px;
}

.arpc-multiple-items input[type="text"] {
  margin-bottom: 5px;
}

.arpc-bubble {
  font-size: 16px;
  line-height: 20px;
  min-height: 43px;
  display: flex;
  border-radius: 4px;
  font-weight: 500;
  padding: 8px;
  border: 1px solid #fff;
  background: #ffffff1a;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;

  .arpc-bubble-text {
    flex: 1;
    align-self: center;
  }

  .arpc-bubble-icon {
    display: flex;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    overflow: visible;

    path {
      fill: #fff;
    }
  }
}

.arpc-warning-icon {
  padding: 2px;
}

.arpc-select {
  font-size: 16px;
  width: 240px;
  height: 40px;
  padding: 6px;
  background: initial;
  background-color: #202225;
  color: #dcddde;
  font-family: inherit;
  font-weight: 500;
  border: 1px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-radius: 4px;
}

.arpc-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  background: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  user-select: none;
  cursor: pointer;
  width: auto;
  min-width: 60px;
  min-height: 32px;
  transition: background-color 0.17s ease, color 0.17s ease;
}

.arpc-button-blue {
  background-color: #5865f2;
}

.arpc-button-blue:hover {
  background-color: #4752c4;
}

.arpc-button-blue:active {
  background-color: #3c45a5;
}

.arpc-button-green {
  background-color: #2d7d46;
}

.arpc-button-green:hover {
  background-color: #215b32;
}

.arpc-button-green:active {
  background-color: #1e532e;
}

.arpc-var-button {
  background-color: #292b2f;
  color: #b9bbbe;
  min-width: 0;
  min-height: 0;
  padding: 4px;
  margin-top: 5px;
  border-radius: 4px;
}

// Modals

.arpc-modal-backdrop {
  background: rgb(0 0 0 / 85%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.arpc-modal-layer {
  text-rendering: optimizeLegibility;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .arpc-modal-window {
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    max-height: 90%;
    width: 490px;
    position: relative;
    font-size: 13px;
    word-wrap: break-word;
    margin: 0 auto;
    background-color: #36393f;

    .arpc-modal-header {
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
    }

    .arpc-modal-content {
      font-size: 16px;
      color: #dcddde;
      line-height: 20px;
      position: relative;
      border-radius: 5px 5px 0 0;
      padding-left: 16px;
      padding-bottom: 20px;
      overflow: hidden scroll;
      white-space: normal;
      word-wrap: break-word;

      h4 {
        padding: 5px 0;
        margin: 5px 0;
      }

      ul {
        padding: 0;
        margin: 13px 20px;
      }

      li {
        position: relative;
        margin-bottom: 6px;
      }

      #arpc-variables {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: baseline;
      }

      #arpc-variables div {
        user-select: text;
        background-color: #292b2f;
        border-radius: 4px;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 4px;
      }
    }

    .arpc-modal-footer {
      position: relative;
      padding: 13px;
      border-radius: 0 0 5px 5px;
      background-color: #2f3136;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .arpc-changelog-window {
    pointer-events: all;
    min-height: 200px;

    .arpc-modal-content {
      user-select: text;
      color: #b9bbbe;

      .arpc-changelog-divider {
        color: #46c46e;
        margin: 10px 0;
        font-weight: 600;
        display: flex;
        align-items: center;
        user-select: none;
        font-weight: 700;
      }

      .arpc-changelog-divider:after {
        background-color: #46c46e;
        content: "";
        height: 1px;
        flex: 1 1 auto;
        margin-left: 4px;
        opacity: 0.6;
      }
    }
  }
}

.arpc-close-button {
  display: block;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  border-radius: 3px;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.arpc-close-button:hover {
  opacity: 1;
}

.arpc-expand-button {
  display: block;
  transition: transform 0.2s ease-in-out;
}

.arpc-expandable {
  cursor: pointer;
}

// Top Bar Slide

.arpc-slide-enter-active {
  animation: slide 0.3s;
}
.arpc-slide-leave-active {
  animation: slide 0.3s reverse;
}

@keyframes slide {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

// Settings animations & transitions

.arpc-settings-slide-enter-active {
  animation: settings-slide-open 0.3s;
  transition: 0.3s;
}
.arpc-settings-slide-leave-active {
  animation: settings-slide-close 0.2s;
  transition: 0.2s;
}

@keyframes settings-slide-open {
  0% {
    transform: translateY(-30px);
    min-height: 0;
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    max-height: 9999px;
  }
}

@keyframes settings-slide-close {
  0% {
    transform: translateY(0);
    max-height: 9999px;
  }
  100% {
    transform: translateY(-30px);
    max-height: 0;
    opacity: 0;
  }
}

// Fade animation

.arpc-fade-enter-active,
.arpc-fade-leave-active {
  transition: opacity 0.4s ease;
}

.arpc-fade-enter,
.arpc-fade-leave-to {
  opacity: 0;
}

// Modal animation

.arpc-modal-enter-active {
  transition: opacity 0.175s ease, transform 0.175s ease;
}

.arpc-modal-leave-active {
  transition: opacity 0.1s ease, transform 0.1s ease;
}

.arpc-modal-enter-active {
  animation: modal-enter 0.175s;
}

.arpc-modal-leave-active {
  animation: modal-leave 0.1s;
}

@keyframes modal-enter {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  80% {
    transform: scale(1.013);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-leave {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
